<p id="notice"><%= notice %></p>
<h1>Question</h1>
<div class="question-new">
  <button id="newButton" type="button" class="btn btn-primary">
    <%=link_to "我要发布",question_new_path,method: :get%>
  </button>
</div>
<p>
  <strong>所属课程:</strong>
  <% @knowledge.courses.each do|course| %>
           <%= course.course_name %>&nbsp
  <% end %>
</p>
<h2 style="float:center"><%= @knowledge.title %></h2>


<div class = "container" style="margin-top:100px">
    <p>
      <strong>Content:</strong>
      <%= @knowledge.content %>
    </p>
    <p style="text-align:justify;width:300px;display:inline">author:<%= @knowledge.creator.username%><%#=link_to "#{@knowledge.creator.username}",users_path(@knowledge.creator)%>&nbsp;&nbsp;&nbsp;发布时间:<%= @knowledge.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')%>&nbsp
    </p>
    <div id="add_evalute" style="display:inline">
         <%= render :partial => "knowledges/comments", :locals => { :q => @knowledge } %>&nbsp;&nbsp;  
    </div>
     <div id="focus" style="display:inline">
         <%=link_to "关注", { :controller => 'controller_name',:action => 'action_name' },:remote => true%>&nbsp;&nbsp;
    </div>
    <div style="display:inline">
       <a class="ping"><%= @knowledge.getReplies.size%> 条评论</a>&nbsp;
       <div class="reply" style="display:none" style="float:left">
         <%= render :partial => "knowledges/reply_show", :locals => { :q => @knowledge } %>  
       </div>
    </div>
</div>

    
<script type="text/javascript">
  $(document).ready(function(){
      $.each($(".ping"),function(){
            $(this).bind("click",function(){
                  $(this).parent().children(".reply").slideToggle();
            });
      });
  });
</script>
