
<div class="jumbotron" style="padding-top:15%;padding-bottom:10%;padding-left:5%;background-image: url(<%= asset_path "index_bg.png" %>)">
	<h1 style="color:white;">山东大学资源聚合平台</h1>
	<p>
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-no-turbolink="true">
		    学院 <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a href="#">学院A</a></li>
		    <li><a href="#">学院B</a></li>
		  </ul>
		</div>
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-no-turbolink="true">
		    专业 <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a href="#">专业A</a></li>
		    <li><a href="#">专业B</a></li>
		  </ul>
		</div>
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-no-turbolink="true">
		   课程 <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a href="#">课程A</a></li>
		    <li><a href="#">课程B</a></li>
		  </ul>
		</div>
		<button type="button" class="btn btn-primary" aria-label="Left Align">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Go
		</button>
	</p>
</div>
<div class="projects-header page-header">
	<h1><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;专栏&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 新 /&nbsp;<span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 热 </small></h1>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 离散数学 </small></h2>
  	<p>内容内容内容内容内容内容内容内容内容内容内容内容缩略内容……</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-comment"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-calendar"></span>2018-02-31
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 离散数学 </small></h2>
  	<p>内容内容内容内容内容内容内容内容内容内容内容内容缩略内容……</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-comment"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-calendar"></span>2018-02-31
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 离散数学 </small></h2>
  	<p>内容内容内容内容内容内容内容内容内容内容内容内容缩略内容……</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-comment"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-calendar"></span>2018-02-31
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 离散数学 </small></h2>
  	<p>内容内容内容内容内容内容内容内容内容内容内容内容缩略内容……</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-comment"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-calendar"></span>2018-02-31
			</small>
		</p>
  </div>
</div>
<div class="projects-header page-header">
	<h1><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;&nbsp;资源&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 新 /&nbsp;<span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 热 </small></h1>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 离散数学 </small></h2>
  	<p>描述描述描述描述描述描述描述描述描述描述描述描述描述描述……</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-download-alt"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-calendar"></span>2018-02-31
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 离散数学 </small></h2>
  	<p>描述描述描述描述描述描述描述描述描述描述描述描述描述描述……</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-download-alt"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-calendar"></span>2018-02-31
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 离散数学 </small></h2>
  	<p>描述描述描述描述描述描述描述描述描述描述描述描述描述描述……</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-download-alt"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-calendar"></span>2018-02-31
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 离散数学 </small></h2>
  	<p>描述描述描述描述描述描述描述描述描述描述描述描述描述描述……</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-download-alt"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-calendar"></span>2018-02-31
			</small>
		</p>
  </div>
</div>
<div class="projects-header page-header">
	<h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;活跃用户</h1>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<%= image_tag("default_avatar.jpg", alt: "Avatar") %><br />
  	<h2><a href="#">用户名</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 软件学院 - 软件工程 </small></h2>
  	<p class="text-center"><span class="glyphicon glyphicon-pencil"></span> 这个人并没有留下什么签名。</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-upload"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-edit"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-comment"></span> 72
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<%= image_tag("default_avatar.jpg", alt: "Avatar") %><br />
  	<h2><a href="#">用户名</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 软件学院 - 软件工程 </small></h2>
  	<p class="text-center"><span class="glyphicon glyphicon-pencil"></span> 这个人并没有留下什么签名。</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-upload"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-edit"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-comment"></span> 72
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<%= image_tag("default_avatar.jpg", alt: "Avatar") %><br />
  	<h2><a href="#">用户名</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 软件学院 - 软件工程 </small></h2>
  	<p class="text-center"><span class="glyphicon glyphicon-pencil"></span> 这个人并没有留下什么签名。</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-upload"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-edit"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-comment"></span> 72
			</small>
		</p>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
  	<%= image_tag("default_avatar.jpg", alt: "Avatar") %><br />
  	<h2><a href="#">用户名</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-blackboard"></span> 软件学院 - 软件工程 </small></h2>
  	<p class="text-center"><span class="glyphicon glyphicon-pencil"></span> 这个人并没有留下什么签名。</p>
  	<p class="text-center">
  		<small>
  			<span class="glyphicon glyphicon-upload"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-edit"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
  			<span class="glyphicon glyphicon-comment"></span> 72
			</small>
		</p>
  </div>
</div>