<script>
	function changecolor(id)
	{
		for (var i=1;i<=2;++i)
		{
			document.getElementById(i.toString()+id.charAt(1)).style.color='#777';
		}
		if (id.charAt(0)=="1")
			return;//UNDONE HERE
	}
</script>
<div class="jumbotron" style="padding-top:15%;padding-bottom:10%;padding-left:5%;background-image: url(<%= asset_path "index_bg.png" %>)">
	<h1 style="color:white;">山东大学资源聚合平台</h1>
	<p>
		<div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    学院 <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		    <li><a href="#">学院A</a></li>
		    <li><a href="#">学院B</a></li>
		  </ul>
		</div>
		<div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    专业 <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		    <li><a href="#">专业A</a></li>
		    <li><a href="#">专业B</a></li>
		  </ul>
		</div>
		<div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		   课程 <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		    <li><a href="#">课程A</a></li>
		    <li><a href="#">课程B</a></li>
		  </ul>
		</div>
		<button type="button" class="btn btn-primary" aria-label="Left Align">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Go
		</button>
	</p>
</div>
<div class="projects-header page-header">
	<h1><span class="icon-edit" aria-hidden="true"></span>&nbsp;&nbsp;专栏&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="icon-time" aria-hidden="true"></span> 新 /&nbsp;<span class="icon-fire" aria-hidden="true"></span> 热 </small></h1>
</div>
<div class="row">
	<div class="span3">
	  <div class="thumbnail">
	  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 离散数学 </small></h2>
	  	<p>内容内容内容内容内容内容内容内容内容内容内容内容缩略内容……</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-comment"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-calendar"></span>2018-02-31
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 离散数学 </small></h2>
	  	<p>内容内容内容内容内容内容内容内容内容内容内容内容缩略内容……</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-comment"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-calendar"></span>2018-02-31
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 离散数学 </small></h2>
	  	<p>内容内容内容内容内容内容内容内容内容内容内容内容缩略内容……</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-comment"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-calendar"></span>2018-02-31
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 离散数学 </small></h2>
	  	<p>内容内容内容内容内容内容内容内容内容内容内容内容缩略内容……</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-comment"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-calendar"></span>2018-02-31
				</small>
			</p>
	  </div>
	</div>
	
</div>
<div class="projects-header page-header">
	<h1><span class="icon-hdd" aria-hidden="true"></span>&nbsp;&nbsp;资源&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="icon-time" aria-hidden="true"></span> 新 /&nbsp;<span class="icon-fire" aria-hidden="true"></span> 热 </small></h1>
</div>
<div class="row">
	<div class="span3">
	  <div class="thumbnail">
	  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 离散数学 </small></h2>
	  	<p>描述描述描述描述描述描述描述描述描述描述描述描述描述描述……</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-download-alt"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-calendar"></span>2018-02-31
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 离散数学 </small></h2>
	  	<p>描述描述描述描述描述描述描述描述描述描述描述描述描述描述……</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-download-alt"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-calendar"></span>2018-02-31
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 离散数学 </small></h2>
	  	<p>描述描述描述描述描述描述描述描述描述描述描述描述描述描述……</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-download-alt"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-calendar"></span>2018-02-31
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<h2><a href="#">标题标题</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 离散数学 </small></h2>
	  	<p>描述描述描述描述描述描述描述描述描述描述描述描述描述描述……</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-download-alt"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-thumbs-up"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-calendar"></span>2018-02-31
				</small>
			</p>
	  </div>
	</div>
</div>
<div class="projects-header page-header">
	<h1><span class="icon-user" aria-hidden="true"></span>&nbsp;&nbsp;活跃用户</h1>
</div>
<div class="row">
	<div class="span3">
	  <div class="thumbnail">
	  	<%= image_tag("default_avatar.jpg", alt: "Avatar") %><br />
	  	<h2><a href="#">用户名</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 软件学院 - 软件工程 </small></h2>
	  	<p class="text-center"><span class="glyphicon glyphicon-pencil"></span> 这个人并没有留下什么签名。</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-upload"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-edit"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-comment"></span> 72
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<%= image_tag("default_avatar.jpg", alt: "Avatar") %><br />
	  	<h2><a href="#">用户名</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 软件学院 - 软件工程 </small></h2>
	  	<p class="text-center"><span class="glyphicon glyphicon-pencil"></span> 这个人并没有留下什么签名。</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-upload"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-edit"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-comment"></span> 72
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<%= image_tag("default_avatar.jpg", alt: "Avatar") %><br />
	  	<h2><a href="#">用户名</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 软件学院 - 软件工程 </small></h2>
	  	<p class="text-center"><span class="glyphicon glyphicon-pencil"></span> 这个人并没有留下什么签名。</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-upload"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-edit"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-comment"></span> 72
				</small>
			</p>
	  </div>
	</div>
	<div class="span3">
	  <div class="thumbnail">
	  	<%= image_tag("default_avatar.jpg", alt: "Avatar") %><br />
	  	<h2><a href="#">用户名</a><small>&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-book"></span> 软件学院 - 软件工程 </small></h2>
	  	<p class="text-center"><span class="glyphicon glyphicon-pencil"></span> 这个人并没有留下什么签名。</p>
	  	<p class="text-center">
	  		<small>
	  			<span class="icon-upload"></span> 15&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-edit"></span> 719&nbsp;&nbsp;&nbsp;&nbsp;
	  			<span class="icon-comment"></span> 72
				</small>
			</p>
	  </div>
	</div>
	
</div>
