<div class="row-fluid" style="margin-top:50px">
    <div class="span8 shadow-box offset2">
        <%= form_for :blog,:url => { :controller=>"blogs",:action => "create"}, method: :post, html: {class: "form-horizontal"} do |f| %>
          <fieldset>
            <%= f.hidden_field:good,:value => 0 %>
            <%= f.hidden_field:bad,:value => 0 %>
            <%if !current_user.nil?%>
              <%= f.hidden_field:user_id , :value => current_user.id %>
              <%= f.hidden_field:type,:value => 'Blog' %>
            <%end%>
            <div class="row-fluid">
              <div class="span8 offset2" style="margin-top:20px">
                  <%= f.text_field :title,class: "span12",placeholder: "请输入标题",style: "width:800px;margin-left:0px;background:#efefef;font-size:18px:line-height:150；padding:10px"%>
        			</div>
      			</div>
      			<div class="row-fluid">
        			<div class="span8 offset2" style="margin-top:30px">
        				  <%= f.text_area :content,class: "cleditor span12",id: "textarea2",style:"display: none; width: 800px; height: 500px;" %>
        			</div>
        			<div class="span2" style="margin-top:20px">
          			<input id="img_input2" type="file" accept="image/*" multiple="multiple"/>
                <label for="img_input2" id="img_label2">选择图片
                  <i class="fa fa-plus fa-lg"></i>
                </label>
              </div>
        		</div>
        		<div class="row-fluid">
        			<div class="span8 offset2">
        			  <label class="control-label" for="typeahead">课程</label>
                <% for course in @courses %>  
                  <label class="checkbox inline">
            			  <div class="checker" id="uniform-inlineCheckbox1">
            			    <span class="">
            			      <%if @blog.courses.include?(course)%>
            			        <%=check_box_tag 'courses[]', course.id,checked: :true %>
            			      <%else%>
            			        <%=check_box_tag 'courses[]', course.id%>
            			      <%end%>
            			    </span>
            			   </div>
            			   <%= course.course_name %>
            		  </label>
                <% end %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset2">
        			  <label class="control-label" for="typeahead">标签</label>
                <% for keyword in @keywords %>  
                  <label class="checkbox inline">
            			  <div class="checker" id="uniform-inlineCheckbox1">
            			    <span class="">
            			       <%if @blog.keywords.include?(keyword)%>
            			        <%=check_box_tag 'keywords[]', keyword.id,checked: :true %>
            			      <%else%>
            			       <%=check_box_tag 'keywords[]', keyword.id %>
            			      <%end%>
            			      
            			      </span>
            			      </div> 
            			      <%= keyword.name %>
            		  </label>
                <% end %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4 offset4">
                <%= f.submit "发布" ,class: "btn btn-primary"%>
                <button type="reset" class="btn">
                  <%= link_to "返回",:back%>
                </button>
              </div>
            </div>
          </fieldset>
      <%end%>
    </div>
</div>
<div class="row-fluid" style="height:50px">
</div>
<style>
.cleditorMain{
  height:500px!important;
  width:800px!important;
}
#textarea2{
  height:1000px!important;
  width:800px!important;
}
iframe{
  word-wrap: break-word!important;  
  word-break: normal!important;  
  height:500px!important;
  width:800px!important;
}
#img_input2 {
  display: none;
}
#img_label2 {
  background-color: #f2d547;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
}
#preview_box2 img {
  width: 200px;
}
</style>
<script>
function DealImg(){
    var con = $(".cleditorMain").find('iframe').contents().find('body').html();
    $.ajax({
      url:"../knowledges/img_upload",
      type: 'POST',
      data: {content: con}
    });
}
$("#img_input2").on("change", function(e) {

  var file = e.target.files[0]; //获取图片资源

  // 只选择图片文件
  if (!file.type.match('image.*')) {
    return false;
  }

  var reader = new FileReader();

  reader.readAsDataURL(file); // 读取文件

  // 渲染文件
  reader.onload = function(arg) {
    var img = '<img class="preview" style="width:400px;" src="' + arg.target.result + '" alt="preview"/>';
    $(".cleditorMain").find('iframe').contents().find('body').append(img);
  }
  this.value = '';
});


</script>