<div class="container">
    <div class="row">
        <div class="span2">
            <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "专业管理", home_course_path(:id) %></li>
                <li><%= link_to "课程管理", blog_course_path(:id) %></li>
                <li><%= link_to "教师管理", question_course_path(:id) %></li>
                <li><%= link_to "关键词管理",  resource_course_path(:id)%></li>
                <li><%= link_to "修改账户",  resource_course_path(:id)%></li>
            </ul>
        </div>
    </div>
</div>