<li><a href="<%= user_path(current_user)%>"><i class="icon-user"></i><span class="hidden-tablet"> 个人主页</span></a></li>
<li>
	<a class="dropmenu" href="#"><i class="icon-edit"></i><span class="hidden-tablet"> 修改信息</span></a>
	<ul>
		<li><a class="submenu" href="<%= edit_user_path(current_user)%>"><i class="icon-edit"></i><span class="hidden-tablet"> 个人信息修改</span></a></li>
		<li><a class="submenu" href="#"><i class="icon-edit"></i><span class="hidden-tablet"> 修改密码</span></a></li>
	</ul>	
</li>
<li><a href="<%= edit_config_user_path(current_user)%>"><i class="icon-cogs"></i><span class="hidden-tablet"> 个人设置</span></a></li>
<hr/>
<li>
	<%= link_to "#", class: "dropmenu" do%>
	<i class="icon-bell"></i><span class="hidden-tablet"> 消息通知</span>
		<% if @uncheck_notifications && @uncheck_notifications>0 %>
			<span class="label label-important" style="margin-left:30px"> <%=@uncheck_notifications%> </span>
		<% end %>
	<% end %>
	<ul>
		<li>
			<%= link_to user_notifications_path(current_user.id, page: 1, per_page: 20, notify_type: "focus_contents"), class: :submenu do%>
			<i class="icon-star"></i><span class="hidden-tablet"> 关注资源</span>
			<% end %>
		</li>
		<li>
			<%= link_to user_notifications_path(current_user.id, page: 1, per_page: 20, notify_type: "my"), class: :submenu do%>
			<i class="icon-star"></i><span class="hidden-tablet"> 我的通知</span>
			<% end %>
		</li>
	</ul>	
</li>
<li><a class="submenu" href="<%=followings_user_path(current_user)%>"><i class="icon-magnet"></i><span class="hidden-tablet"> 关注的用户</span></a></li>
<li><a class="submenu" href="<%=followeds_user_path(current_user)%>"><i class="icon-group"></i><span class="hidden-tablet"> 粉丝</span></a></li>
<hr/>
<li><a class="submenu" href="<%=selected_courses_user_path(current_user)%>"><i class="icon-calendar"></i><span class="hidden-tablet"> 我的课程</span></a></li>
<li><a href="<%=creatings_user_path(current_user)%>"><i class="icon-rss"></i><span class="hidden-tablet"> 我发布的资源</span></a></li>
<li><a href="<%=focuses_user_path(current_user)%>"><i class="icon-heart"></i><span class="hidden-tablet"> 我关注的资源</span></a></li>
<li><a href="<%=knowledge_graph_demo_path(current_user)%>"><i class="icon-map-marker"></i><span class="hidden-tablet"> 知识图谱</span></a></li>
<li><a href="<%=chart_user_path(current_user)%>"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 统计图表</span></a></li>
<%if @user.user_role == "teacher"%>
	<hr/>
	<li><a href="<%= teachers_teachers_space_path(@user.id)%>"><i class="icon-cog"></i><span class="hidden-tablet"> 课程内容管理</span></a></li>
	<li><a href="<%= teachers_upload_check_path(@user.id)%>"><i class="icon-cog"></i><span class="hidden-tablet"> 上传内容审核</span></a></li>
<%end%>
<%if @user.user_role == "admin"%>
	<hr/>
	<li><a href="<%= admins_own_space_path%>"><i class="icon-cog"></i><span class="hidden-tablet"> 平台管理后台</span></a></li>
<%end%>
