<% provide(:title, "粉丝列表") %>
<div class="container-fluid-full">
  <div class="row-fluid">
    <%= render 'users/aside' %>
    <div id="content" class="span8">
        <div class="row-fluid">
        <%= render 'layouts/flash' %>
        </div>
        <div class="row-fluid offset1">
            <h1>粉丝列表</h1>
            
        </div>
        <div class="row-fluid ">
            <div class="span8">
               <hr style="background-color:grey"/> 
            </div>
        </div>
        
        <% @followeds.each_with_index do |followed, index|%>
        <div class="row-fluid" data-index="<%= index%>">
            <div class="row-fluid span7 offset1">
              <div class="span3">
                  <%=link_to user_path(followed.id) do%>
                  <%= gravatar_for followed, size: 80, style: "display:inline-block"%>
                  <% end %>
                  <%=link_to followed.nickname, user_path(followed.id), style:"padding-left: 20px"%>
              </div>
              <div class="span3" style="padding-top:30px">
                  <%=link_to "粉丝: #{followed.followeds.count}", followeds_user_path(followed.id), style:"padding-right: 30px"%>
                  
                  <%=link_to "关注: #{followed.followings.count}", followings_user_path(followed.id)%>
                  
              </div>
              <div id="focus_btn<%=index%>" class="span1 offset6" style="margin-top:-30px">
                <%= render partial: "users/focus_btn", locals: {index: index, following: followed} %>
              </div>
              
            </div>
            
        </div>
        <div class="row-fluid span7">
            <hr style="background-color:grey"/>
        </div>
        <% end %>
        <div class="row-fluid ">
            <div class="row-fluid span8 center">
                <%= will_paginate @followeds%>
            </div>
        </div>
        <div style="height:500px"/>
    <% if @followeds.count<5 %>
        <div style="height:500px"/>
    <% end %>
    </div>
  </div>
</div>

