<% provide(:title, "#{@course.course_name}—专栏管理") %>
<div class="container-fluid-full"> 

    <div class="row-fluid">
      <%= render :partial => "users/aside" %>
      <div id="content" class="span8">
        <p id="notice"><%= notice %></p>
        
        <h1><%=@course.course_name%>—全部专栏</h1>
        <hr>
        <div id = "to_check">
          <%= render :partial => "blogs/blog_list", :locals => { :blogs => @blog } %>
        </div>
        
        <br>
        

        <hr>
        <%= link_to '返回',  teachers_upload_check_path(@teacher.id) %>
      </div>
    </div>
    
    
</div> 

<div class="clearfix"></div>