<% provide(:title, "#{@teacher.nickname}—课程内容管理") %>
<div class="container-fluid-full"> 

    <div class="row-fluid">
      <%= render :partial => "users/aside" %>
      <div id="content" class="span8">
        <p id="notice"><%= notice %></p>
        
        <h1>课程内容管理</h1>
        <hr>
        
        <table class="table table-hover">
          <thead>
            <tr>
              <th>序号</th>
              <th>课程名</th>
              <th>审核模式</th>
              <th colspan="4"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @courses.each do |course| %>
              <tr>
                <td><%= course.id %></td>
                <td><%=link_to course.course_name, course%></td>
                <% if course.review_strategy %>
                  <td>自动模式</td>
                <% else %>
                  <td>手动模式</td>
                <% end %>
                <td><%= link_to "切换审核模式", switch_review_mode_path(course, no_check_notification: :true), remote: true%></td>
                <td><%= link_to '问答', teachers_questions_manage_path(@teacher.id,course.id) %></td>
                <td><%= link_to '专栏', teachers_blogs_manage_path(@teacher.id,course.id) %></td>
                <td><%= link_to '资源', teachers_resources_manage_path(@teacher.id,course.id) %></td>
                <!--<td><%#= link_to '学生贡献统计', teachers_detials_path(course.id) %></td>-->
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br>
        

      </div>
    </div>
</div> 

<div class="clearfix"></div>