<div class="row-fluid" style="height:50px">
</div>
<div class="box span10 offset3">
  <div class="box-header" data-original-title="">
		<h2><i class="halflings-icon white edit"></i><span class="break"></span>资源发布</h2>
	</div>
	<div class="box-content">
    <%= form_for :resource,:url => { :controller=>"resources",:action => "create"}, method: :post, html: {class: "form-horizontal"} do |f| %>
    <fieldset>
      <%if !current_user.nil?%>
        <%= f.hidden_field:user_id , :value => current_user.id %>
        <%= f.hidden_field:type,:value => 'Resource' %>
      <%end%>
      <div class="control-group">
			  <label class="control-label" for="typeahead">标题</label>
			  <div class="controls">
        <%= f.text_field :title %>
			  </div>
			</div>
      <div class="control-group hidden-phone" style="width: 1000px; height: 250px;">
			  <label class="control-label" for="textarea2">资源描述(最多200字)</label>
			  <div class="controls">
				<%= f.text_area :content,class: "cleditor",id: "textarea2",style: "display: none; width: 500px; height: 197px;" %><iframe frameborder="0" src="javascript:true;" style="width: 500px; height: 197px;"></iframe>
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label" for="fileInput">File input</label>
			  <div class="controls">
				<div class="uploader" id="uniform-fileInput">
				  <%= f.file_field :attachment %>
				  <span class="filename" style="user-select: none;">No file selected</span><span class="action" style="user-select: none;">Choose File</span></div>
			  </div>
			</div>
  		<div class="control-group">
			  <label class="control-label" for="typeahead">课程</label>
        <% for course in @courses %>  
          <label class="checkbox inline">
    			  <div class="checker" id="uniform-inlineCheckbox1"><span class=""><%=check_box_tag 'courses[]', course.id %></span></div> <%= course.course_name %>
    		  </label>
        <% end %>
      </div>
      <div class="control-group">
			  <label class="control-label" for="typeahead">标签</label>
        <% for keyword in @keywords %>  
          <label class="checkbox inline">
    			  <div class="checker" id="uniform-inlineCheckbox1"><span class=""><%=check_box_tag 'keywords[]', keyword.id %></span></div> <%= keyword.name %>
    		  </label>
        <% end %>
      </div>
      
      <%= f.hidden_field:good,:value => 0 %>
    
      <%= f.hidden_field:bad,:value => 0 %>
    
      <div class="form-actions" style="width:870px;text-align:center;padding-left:50px;padding-right:50px">
        <%= f.submit "发布" ,class: "btn btn-primary"%>
        <button type="reset" class="btn">
          <%= link_to "返回",:back%>
        </button>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
