<%if !flash[:notice].nil?%>
    <div class="alert alert-success">
    	<button type="button" class="close" data-dismiss="alert">×</button>
    	<strong><%= flash[:notice]%></strong>
    </div>
<%end%>
<div class = "container"style="margin-bottom:50px">
    <div class="breadcrumb" style="padding:0px;margin:0px">
        <%= link_to  :back,:class => "quick-button-small span1" do%>
            <i class="icon-group"></i>
            <h5>Resource</h5>
        <%end%>
        <button id="newButton" type="button" class="btn btn-small btn-warning" style="width:140px;height:40px;">
          <%=link_to resource_new_path,method: :get do%>
              <i class="halflings-icon white edit"></i>
              <p style="display:inline;font-size:14px"><strong>我要发布</strong></p>
          <%end%>
        </button>
    </div>
</div>
<div class="box span12" style="margin-top:50px;margin-left: 400px;margin-right: 400px;margin-bottom:70px">
    <div class="box-header" data-original-title="">
		<h2><i class="halflings-icon white edit"></i><span class="break"></span><strong><%= @knowledge.title %></strong></h2>
	    <%if !log_in?%>
                <%= link_to "修改",login_path%>
                <%= link_to "删除",login_path%>
	    <%elsif current_user?(@knowledge.creator)%>
	        <%= link_to "修改",edit_resource_path(@knowledge)%>
	        <%= link_to '删除',resource_path(@knowledge) , method: :delete, data: { confirm: 'Are you sure?' } %>
	    <%elsif current_user.user_role.eql?('teacher')&&(current_user.selected_courses-@knowledge.courses) != current_user.selected_courses%>
	        <%= link_to '删除',resource_path(@knowledge) , method: :delete, data: { confirm: 'Are you sure?' } %>
	    <%end%>
	</div>
    <div class="box-content">
        <div class="page-header">
		  <h1><%= @knowledge.title %></h1>
	    </div>
        <p>
          <!--<strong>Content:</strong>-->
          <%= @knowledge.content %>
        </p>
        <div class="tooltip-demo well">
            <p>
              <strong>所属课程:</strong>
              <% @knowledge.courses.each do|course| %>
                       <%= course.course_name %>&nbsp
              <% end %>
            </p>
            <p><strong>资源链接<strong>:
            <%= link_to "#{@knowledge.attachment}",resource_file_download_path(:r_id => @knowledge.id)%>
            </p>
            <p style="text-align:justify;width:300px;display:inline"><strong>author</strong>:<%= @knowledge.creator.nickname%><%#=link_to "#{@knowledge.creator.nickname}",users_path(@knowledge.creator)%>&nbsp;&nbsp;&nbsp;<strong>发布时间</strong>:<%= @knowledge.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')%>&nbsp
            </p>
            <div id="add_evalute-<%=@knowledge.id%>" style="display:inline">
                 <%= render :partial => "knowledges/comments", :locals => { :knowledge => @knowledge } %>&nbsp;&nbsp;  
            </div>
             <div id="focus" style="display:inline">
                 <%= render :partial => "knowledges/focus_link", :locals => { :knowledge => @knowledge }%>  
            </div>
            <div style="display:inline">
               <a class="ping"><%= @knowledge.getAllReplies.size%> 条评论</a>&nbsp;
               <div class="reply" style="float:left;margin-top:50px">
                 <%= render :partial => "knowledges/reply_show", :locals => { :q => @knowledge } %>  
               </div>
            </div>
		</div>
    </div>
    
    
   
</div>

    
<script type="text/javascript">
  $(document).ready(function(){
      $.each($(".ping"),function(){
            $(this).bind("click",function(){
                  $(this).parent().children(".reply").slideToggle();
            });
      });
      
      $.each($(".btn.btn.btn-info"),function(){
            $(this).bind("click",function(){
                  $(this).parent().children(".answer-content").slideToggle();
            });
      });
  });
</script>

