<%= form_tag(searches_result_url,method:"GET") do%>
  <div style="text-align:center;">
    <br />
    <div class="field">
      <%= text_field :key ,params[0], class: 'form-control',value: params[:key][0]%><br />
    </div>
    <div class="field">
      排序依据：
      <%= select_tag :sort,options_for_select(["默认","上传时间","推荐程度"],params[:sort]) %><br />
    </div>
    <div class="field">
      查询内容：
      <%= select_tag :find,options_for_select(["全部","专栏","问题","资源","用户"],params[:find]) %><br /><br />
    </div>
      
      <%= submit_tag "搜索" , class: "btn btn-primary" %>
  </div>
<% end %>


<%if !@results.nil?%>
  <%@results.each do|q| %>
    <%= render :partial => "blogs/blog_each", :locals => { :q => q } %> 
  <%end%>
    <div class="row-fluid center span12 offset1">
    <div style="padding-bottom:50px">
    <%= will_paginate @results %>
    </div>
    </div>
<%end%>