<%= form_tag(searches_result_url,method:"GET") do%>
  <div style="text-align:center;">
    <br />
    <div class="field">
      <%= text_field :key ,params[0], class: 'form-control'%><br />
    </div>
    <div class="field">
      排序依据：
      <%= radio_button :select,:sort,:default%>默认&nbsp;
      <%= radio_button :select,:sort,:time%>上传时间&nbsp;
      <%= radio_button :select,:sort,:nice%>推荐程度&nbsp;<br />
    </div>
    <div class="field">
      查询内容：
      <%= radio_button :select,:find,:All%>全部&nbsp;
      <%= radio_button :select,:find,:Blog%>专栏&nbsp;
      <%= radio_button :select,:find,:Discuss%>讨论&nbsp;
      <%= radio_button :select,:find,:Question%>问题&nbsp;
      <%= radio_button :select,:find,:User%>用户&nbsp;<br />
    </div>
      
      <%= submit_tag "搜索" , class: "btn btn-primary" %>
  </div>
<% end %>
<% unless @results.nil? %>
  <% @results.each do |res| %>
  <div class="row-fluid">
    <div class="box span10 offset1">
      <div class="box-header">
    		<h2><i class="halflings-icon white white tasks"></i><span class="break">&nbsp;<%=link_to "#{res.title}",blog_path(res.id),style: "color:white"%></span></h2>
        <span><p style="text-align:justify;float:right;display:inline;color:white"><strong>By:</strong><%= res.creator.username%>&nbsp;&nbsp;&nbsp;发布时间:<%= res.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')%>&nbsp;</span>
    	</div>
      <div class="box-content">
        <div class="container">
          <div class = "panel panel-default">
            <div class="panel-head"></div>
            <div class="panel-body">
              <%if res.content.length>50%>
                <p><%= "#{res.content[0...50]}..." %></p>
              <%else%>
                <p><%= res.content %></p>
              <%end%>
            </div>
            <div class="panel-footer">
              <div style="margin-bottom:10px">
                <strong>所属课程:</strong>
                <% res.courses.each do|course| %>
                  <span class="label label-success"><%= course.course_name %>&nbsp;</span>
                <% end %>
              </div>
              <div id="add_evalute-<%= res.id%>" style="display:inline">
                <%= render :partial => "knowledges/comments", :locals => { :knowledge => res }%>    
              </div>
              <div id="focus" style="display:inline">
                <%= render :partial => "knowledges/focus_link", :locals => { :knowledge => res }%>  
              </div>
              <div style="display:inline">
                <a class="ping"><%= res.getAllReplies.size%> 条评论</a>&nbsp;
                <div class="reply" style="display:none;margin-left:50px" style="float:left">
                  <%= render :partial => "knowledges/reply_show", :locals => { :q => res } %>  
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <h4 style="display: inline;">标签：</h4>
              <%res.keywords.each do|k|%>
                <span class="label label-info">
                  &nbsp;<%= k.name%>&nbsp;
                </span>
              <%end%>
            </div>
            <div class="blank" style="height:20px"></div>
          </div>
        </div>
        <div id="answer-<%= res.id%>" style="display:inline;float:right">
          <%= render :partial => "knowledges/reply_answer", :locals => { :knowledge => res } %> 
        </div>
        <div class="blank" style="height:30px"></div>
      </div>
    </div>
    
  </div>
  <% end %>
  
  <div style="float:right;margin-bottom:30px">
    <%= will_paginate @results %>
  </div>
<% end %>