
<%= form_for(@keywords_associations, opration = {url: keywords_create_association_path}) do |f| %>
  <% if @keywords_associations.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keywords_associations.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @keywords_associations.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">


    <div class ='row-fluid'>
      <div class = 'span3'>
        <%= f.label "下级关键字序号" %>
        <%= f.text_field :lower_id %>
      </div>
        <div class = 'span3 'id="lower_keyword_name">
          
          <%= render :partial => "keywords/keywordname", :locals => {:keyword_id => @keywords_associations[:lower_id]}%>
        </div>
        <div class='span6'></div>
    </div>


    <div class ='row-fluid'>
      <div class = 'span3'>
        <%= f.label "上级关键字序号" %>
        <%= f.text_field :higher_id %>
      </div>
        <div class = 'span3 'id="higher_keyword_name">
          
          <%= render :partial => "keywords/keywordname", :locals => {:keyword_id => @keywords_associations[:higher_id]}%>
        </div>
        <div class='span6'></div>
    </div>
    
    
  </div>

  <div class="actions">
    <%= f.submit "确认" , class: "btn btn-small btn-primary"%>
  </div>
<% end %>

<script>
  $(function(){  
  
    $('#keyword_relationship_higher_id').bind('input propertychange', function() {
      var keyword_id = $(this).val()
      $.get("/keywords/ajaxkeywordnamehigh/"+keyword_id,
      function(data,status){}); 
    }); 
  });
  
</script>

<script>
  $(function(){  
  
    $('#keyword_relationship_lower_id').bind('input propertychange', function() {
      var keyword_id = $(this).val()
      $.get("/keywords/ajaxkeywordnamelow/"+keyword_id,
      function(data,status){}); 
    }); 
  });
  
</script>
