        


<% provide(:title, '全部关键字') %>
<div class="container-fluid-full"> 

    <div class ='row-fluid'>
      <%= render :partial => "admins/row_nav" %>
      <div id="content" class="span10 row-fluid shadow-box min-height-control" data-min-height="680">
        <p id="notice"><%= notice %></p>
        
        <h1>全部关键字</h1>
        <hr>
        
        <table class="table table-hover">
          <thead>
            <tr>
              <th>序号</th>
              <th>关键字</th>
              <!--<th>Course</th>-->
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @keywords.each do |keyword| %>
              <tr>
                <td><%= keyword.id %></td>
                <td><%= keyword.name %></td>
                <!--<td><%#= link_to '已关联课程',"#" %></td>-->
                <td><%= link_to '详情', keyword %></td>
                <td><%= link_to '编辑', edit_keyword_path(keyword) %></td>
                <td><%= link_to '删除', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br>
        
        <%= link_to '新建关键字', new_keyword_path %> |
        <%= link_to '添加上下级关系', keywords_newkeywordass_path %>
      </div> 
    </div>
</div> 

<div class="clearfix"></div>
