<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @keyword.name %>
</p>

<table>
          <thead>
            <tr>
              <th>关联课程编号</th>
              <th>课程名</th>
              <th colspan="2"></th>
            </tr>
          </thead>

<tbody>
    <% @keyword.course_keyword_associations.each do |courseass| %>
      <tr>
        <%course = courseass.course %>
        <td><%= course.id %></td> 
        <td><%= course.course_name %></td>


        <td><%= link_to 'Destroy', "#", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
  </table>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
