
<%= form_for(@course_teacher_association, opration = {url: teachers_create_course_association_path}) do |f| %>
  <% if @course_teacher_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_teacher_association.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @course_teacher_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "课程名" %>
    <%= @course.course_name %>  
    <br />
    <%= f.label "教师编号" %>
    <%= f.text_field :user %>
    <%= f.hidden_field :course_id, :value => @course.to_key%>
    <%= f.hidden_field :badpath, :value => courses_newteacherass_path(@course)%>
    <%= f.hidden_field :goodpath, :value => courses_course_teachers_index_path(@course)%>


    
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
