
<%= form_for(@course_department_associations, opration = {url: departments_create_course_association_path}) do |f| %>
  <% if @course_department_associations.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_department_associations.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @course_department_associations.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "课程名" %>
    <%= @course.course_name %>  
    <br />

    
    <div class ="row-fluid">
      <div class = 'span3'>
        <%= f.label "学院编号" %>
        <%= f.text_field :department %>
      </div>
        <div class = 'span3 'id="department_name">
          
          <%= render :partial => "departments/names", :locals => {:department_id => @course_department_associations[:department]}%>
        </div>
        <div class='span6'></div>
    </div>
    <%= f.hidden_field :course, :value => @course.to_key%>
    <%= f.hidden_field :path, :value => courses_newdeptass_path%>

    
    
  </div>

  <div class="actions">
    <%= f.submit "确认" , class: "btn btn-small btn-primary"%>
  </div>
<% end %>

<script>
  $(function(){  
  
    $('#course_department_association_department').bind('input propertychange', function() {
      var department_id = $(this).val()
      $.get("/departments/ajaxnames/"+department_id,
      function(data,status){}); 
    }); 
  });
  
</script>