
<%= form_for(@course_teacher_association, opration = {url: teachers_create_course_association_path}) do |f| %>
  <% if @course_teacher_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_teacher_association.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @course_teacher_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.label "课程名" %>
    <strong>
      <%= @course.course_name %>  
    </strong>
    <br />
    
    

    <div class ='row'>
      <div class = 'span3'>
        <%= f.label "教师编号" %>
        <%= f.text_field :user %>
      </div>
        <div class = 'span3 'id="teacher_name">
          
          <%= render :partial => "teachers/names", :locals => {:teacher_id => @course_teacher_association[:user]}%>
        </div>
        <div class='span6'></div>
    </div>
    
    
    <%= f.hidden_field :course_id, :value => @course.to_key%>
    <%= f.hidden_field :badpath, :value => courses_newteacherass_path(@course)%>
    <%= f.hidden_field :goodpath, :value => courses_course_teachers_index_path(@course)%>


    
    
  </div>

  <div class="actions">
    <%= f.submit "确认" , class: "btn btn-small btn-primary"%>
  </div>
<% end %>

<script>
  $(function(){  
  
    $('#course_user_association_user').bind('input propertychange', function() {
      var teacher_id = $(this).val()
      $.get("/teachers/ajaxnames/"+teacher_id,
      function(data,status){}); 
    }); 
  });
  
</script>
