
<header>
<div class="container navigation">
	<div class="row nav">
			<ul class="nav nav-tabs">
				<li <%= yield(:home) %>><%= link_to "主页", course_path(:id=>@course) %></li>
        <li <%= yield(:blog) %>><%= link_to "专栏区", course_blogs_path(:course_id=>@course) %></li>
        <li <%= yield(:question) %>><%= link_to "问题区", course_questions_path(:course_id=>@course) %></li>
        <li <%= yield(:resource) %>><%= link_to "资源区",  course_resources_path(:course_id=>@course)%></li>
      </ul>
	</div>
</div>  
</header>