<% provide(:title, '课程所属学院') %>

<div id="container-fluid-full"> 
    <!--headerleft --> 
    <div id="row-fluid">
      <div id="header">
          
      </div> 
  

      <%= render :partial => "admins/row_nav" %>

  

      <div id="content" class="span10">
        <p id="notice"><%= notice %></p>


        <h3>课程</h3>
        <h1>
          <strong><%= @course.course_name %></strong>
          </h1>
        <hr>
        
        <table class="table table-hover">
          <h3>所属学院</h3>
          <thead>
            <tr>
              <th>学院序号</th>
              <th>学院名称</th>
              <th colspan="1"></th>
            </tr>
          </thead>
        
          <tbody>
            
            <% @cd_ass.each do |associations| %>
              <% @department = associations.department %>
              <tr>
                <td><%= @department.id %></td> 
                <td><%= @department.name %></td>
                <!--<td><%#= link_to 'Show', department %></td>-->
                <!--<td><%#= link_to 'Edit', edit_department_path(department) %></td>-->
                <td><%= link_to '删除关联', departments_deleteCourseDeptAss_path(@department,@course), data: { confirm: 'Are you sure????' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <!--<%#= link_to '编辑课程名', edit_department_path(@department) %> |-->
        <%= link_to '新建关联', courses_newdeptass_path(@course) %> |
        <%= link_to '返回', courses_path %> 

      </div> 
    </div>
</div> 

<div class="clearfix"></div>
