<% provide(:question, 'class=active') %>
<%= render 'courses/header'%>
<%if !flash[:notice].nil?%>
    <div class="alert alert-success">
    	<button type="button" class="close" data-dismiss="alert">×</button>
    	<strong><%= flash[:notice]%></strong>
    </div>
<%end%>
<div class = "container"style="margin-bottom:50px">
    <div class="breadcrumb" style="padding:0px;margin:0px">
        <button id="newButton" type="button" class="btn btn-small btn-warning" style="width:140px;height:40px;margin-left:500px">
           <% if log_in?%>
             <%=link_to question_new_path(:course_id => @course.id),method: :get do%>
               <i class="halflings-icon white edit"></i>
               <p style="display:inline;font-size:14px"><strong>我要发布</strong></p>
             <%end%>
          <%else%>
             <%= link_to login_path(:message => "请先登录") do%>
                <i class="halflings-icon white edit"></i>
                <p style="display:inline;font-size:14px"><strong>我要发布</strong></p>
             <%end%>
          <%end%>
        </button>        
    </div>
</div>

<div class="question-list">
  <ul class="list-group">
    <%if !@question.nil?%>
      <%@question.each do|q| %>
      <div class="box span12" style="margin-left:150px">
        <div class="box-header">
			<h2><i class="halflings-icon white white tasks"></i><span class="break">&nbsp;<%=link_to "#{q.title}",question_path(q.id),style: "color:white"%></span></h2>
            <span><p style="text-align:justify;float:right;display:inline;color:white"><strong>By:</strong><%= q.creator.username%>&nbsp;&nbsp;&nbsp;发布时间:<%= q.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')%>&nbsp;</span>
		</div>
		<div class="box-content">
                <div class="container">
                    <div class = "panel panel-default">
                        <div class="panel-head">
                        </div>
                        <div class="panel-body">
                          <p><%= q.content %></p>
                        </div>
                        <div class="panel-footer">
                            <div style="margin-bottom:10px">
                            <strong>所属课程:</strong>
                            <% q.courses.each do|course| %>
                                     <span class="label label-success"><%= course.course_name %>&nbsp;</span>
                            <% end %>
                            </div>
                          <div id="add_evalute-<%= q.id%>" style="display:inline">
                                <%= render :partial => "knowledges/comments", :locals => { :knowledge => q }%>    
                          </div>
                           <div id="focus" style="display:inline">
                                <%= render :partial => "knowledges/focus_link", :locals => { :knowledge => q }%>  
                           </div>
                           <div style="display:inline">
                             <a class="ping"><%= q.getAllReplies.size%> 条评论</a>&nbsp;
                             <div class="reply" style="display:none" style="float:left">
                               <%= render :partial => "knowledges/reply_show", :locals => { :q => q } %>  
                             </div>
                          </div>
                         
                          </p>
                        </div>
                        <div class="panel-footer">
                          <h4 style="display: inline;">标签：</h4>
                            <%q.keywords.each do|k|%>
                            <span class="label label-info">
                              &nbsp;<%= k.name%>&nbsp;
                            </span>
                            <%end%>
                        </div>
                        <div class="blank" style="height:20px"></div>
                    </div>
              </div>
    		 <div id="answer-<%= q.id%>" style="display:inline;float:right">
                <%= render :partial => "knowledges/reply_answer", :locals => { :knowledge => q } %> 
             </div>
             <div class="blank" style="height:30px"></div>
    		</div>
    	</div>
    	<div class="blank" style="height:50px"></div>
      <%end%>
    <%end%>
  </ul>

</div>
<script type="text/javascript">
  $(document).ready(function(){
      $.each($(".ping"),function(){
            $(this).bind("click",function(){
                  $(this).parent().children(".reply").slideToggle();
            });
      });
      
      $.each($(".btn.btn-info"),function(){
            $(this).bind("click",function(){
                  $(this).parent().children(".answer-content").slideToggle();
            });
      });
  });
</script>

