<% provide(:which,"1") %>
<% boutique_num = 5 %>

<%=render '/courses/header'%>
<div class="row-fluid">
    <div class="span8 offset2">
        <div class="span3 shadow-box offset1" style="height:800px">
            <div class="box-header">
                <h2><i class="  halflings-icon white book" style="color:white"></i><span class="break"></span>课程简介</h2>
            </div>
            <div class="box-content" style="padding:20px">
                <div class="row-fluid">
                    <div class="row-fluid center">
                        <h1 style="display:inline;">
                           <strong><%= @course.course_name %></strong>
                        </h1>
                    </div>
                    <div id="focus_btn0" class="center row-fluid" style="padding-top:20px;">
                        <%= render partial: "users/select_course_btn", locals: {user: current_user, index: 0, course: @course}%>&nbsp;&nbsp;
                    </div>
                    
                </div>
                <div class="row-fluid">
                    <hr class="normal-hr" style="margin: 20px 0"/>
                </div>
                <div class="row-fluid">
                    <p>
                        <h2 style="display:inline-block"> <strong>任课老师:</strong></h2>
                        <%t_list = @course.users.where(user_role: :teacher)%>
                        <% if t_list.size>2%>
                            <% t_list[0..2].each do|teacher| %>
                                <%=link_to teacher.nickname, user_path(teacher) %>&nbsp;
                            <% end %>
                            <p style="display:inline">...</p>
                        <%else%>
                            <% t_list.each do|teacher| %>
                                <%= link_to teacher.nickname, user_path(teacher) %>&nbsp;
                            <% end %>
                        <%end%>
                    </p>
                </div>
                <div class="row-fluid" style="margin-top:20px">
                    <p>
                        <strong>开课院系:</strong>
                            <%c_list = @course.departments%>
                            <% if c_list.size>2%>
                                <% c_list[0..2].each do|department| %>
                                    <%= department.name %>&nbsp;
                                <% end %>
                                <p style="display:inline">...</p>
                            <%else%>
                                <% c_list.each do|department| %>
                                    <%= department.name %>&nbsp;
                                <% end %>
                        <%end%>
                    </p>
                </div>
          </div>
        </div>
        <div class="span8">
            <div class="row-fluid shadow-box" style="height:400px;">
                <div class="box-header">
                    <h2><i class="  halflings-icon white th" style="color:white"></i><span class="break"></span>课程简介</h2>
                </div>
                <div class="box-content course-introduction">
                    <%= @course.introduction.html_safe %>
                </div>
            </div>
            <div class="row-fluid shadow-box" style="margin: 50px 0">
                <div class="box-header">
                    <h2><i class="  halflings-icon white th" style="color:white"></i><span class="break"></span>精品推荐</h2>
                </div>
                <div class="box-content" id="box-content">
                    <%if !@best_list.nil?%>
                    <%@best_list = @best_list[0...boutique_num]%>
                    <%row = @best_list.size/3%>
                    <%last_row_col = @best_list.size%3%>
                    <%for i in 0..row-1%>
                        <div class="row-fluid" style="margin-top:10px">
                            <div class="span4">
                                <%= render :partial => "boutique_each", :locals => { :q => @best_list[3*i] } %>
                            </div>
                            <div class="span4">
                                <%= render :partial => "boutique_each", :locals => { :q => @best_list[3*i+1] } %>
                            </div>
                            <div class="span4">
                                <%= render :partial => "boutique_each", :locals => { :q => @best_list[3*i+2] } %>
                            </div>
                        </div>
                    <%end%>
                    <div class="row-fluid" style="margin-top:10px">
                        <%for i in 0..last_row_col-1%>
                            <div class="span4">
                                <%= render :partial => "boutique_each", :locals => { :q => @best_list[3*row+i] } %>
                            </div>
                        <%end%>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if($("#box-content").height()<300){
        $("#box-content").height(300);
    }
</script>