<% provide(:which,"1") %>
<% provide(:boutique_num, "5") %>
<%=render '/courses/header'%>
<div class="container-fluid-full">
    <div class="span3 shadow-box offset3" style="height:800px">
        <div class="box-header">
            <h2><i class="  halflings-icon white book" style="color:white"></i><span class="break"></span>课程简介</h2>
        </div>
        <div class="box-content" style="margin-top:20px;padding-left:20px">
            <div>
                <h1 style="display:inline;">
                   <strong>&nbsp;&nbsp;<%= @course.course_name %></strong>
                </h1>
                <div id="focus_btn0" class="btn btn-danger" style="padding-left:25px;margin-left:25px;margin-bottom:10px;border-radius:14px!important;">
                    <%= render partial: "users/select_course_btn", locals: {user: current_user, index: 0, course: @course}%>&nbsp;&nbsp;
                </div>
            </div>
            <div style="margin-top:20px">
                <p>
                    <h2 style="display:inline-block"> <strong>任课老师:</strong></h2>
                    <%t_list = @course.users.where(user_role: :teacher)%>
                    <% if t_list.size>2%>
                        <% t_list[0..2].each do|teacher| %>
                            <%= teacher.username %>&nbsp;
                        <% end %>
                        <p style="display:inline">...</p>
                    <%else%>
                        <% t_list.each do|teacher| %>
                            <%= teacher.username %>&nbsp;
                        <% end %>
                    <%end%>
                </p>
            </div>
            <div style="margin-top:20px">
                <p>
                    <strong>开课院系:</strong>
                        <%c_list = @course.departments%>
                        <% if c_list.size>2%>
                            <% c_list[0..2].each do|department| %>
                                <%= department.name %>&nbsp;
                            <% end %>
                            <p style="display:inline">...</p>
                        <%else%>
                            <% c_list.each do|department| %>
                                <%= department.name %>&nbsp;
                            <% end %>
                    <%end%>
                </p>
            </div>
      </div>
    </div>
    <div class="span10">
        <div class="row-fluid shadow-box" style="height:300px;margin-bottom:50px">
            <div class="box-header">
                <h2><i class="  halflings-icon white th" style="color:white"></i><span class="break"></span>课程简介</h2>
            </div>
            <div class="box-content">
                write smomething about the course  。。。
            </div>
        </div>
        <div class="row-fluid shadow-box" style="margin-bottom:50px">
            <div class="box-header">
                <h2><i class="  halflings-icon white th" style="color:white"></i><span class="break"></span>精品推荐</h2>
            </div>
            <div class="box-content">
                <% best_list = Knowledge.chooseBestKnowledge(@course, 5)%>
                <% row = best_list.size/4+1%>
                <% last_col = best_list.size%4%>
                <div class="boutique-content">
                    <% for i in 1..row-1%>
                        <div class="row-fluid">
                            <% for j in 1..4%>
                                <% cur=best_list[(i-1)*4+j-1]%>
                                <% cur_path = "/#{cur.type}s/#{cur.id}".downcase%>
                                <div class="span3 statbox" style="background:#1c2e868f" ontablet="span6" ondesktop="span3">
          				            <div style="zoom: 0.5;"><%= image_tag("Knowledge.png",:width => "128",:height => "120",:style => "display: inline-block;width: 129px;height: 123px;vertical-align: top;") %></div>
          					        <div class="number"><%=cur.good%></cur.good><i class="icon-arrow-up"></i></div>
          					        <div class="title"><%=cur.title%></div>
          					        <div class="footer" style="background-color:#403a3b">
          						        <%= link_to " read full",cur_path%>
          					        </div>	
          				        </div>
                            <% end %>
                        </div>
                    <% end %>
                    <div class="row-fluid">
                        <% for j in 1..last_col%>
                            <% cur=best_list[(row-1)*4+j-1]%>
                            <% cur_path = "/#{cur.type}s/#{cur.id}".downcase%>
                            <div class="span3 statbox" style="background:#1c2e868f" ontablet="span6" ondesktop="span3">
          				        <div style="zoom: 0.5;"><%= image_tag("Knowledge.png",:width => "128",:height => "120",:style => "display: inline-block;width: 129px;height: 123px;vertical-align: top;") %></div>
          					    <div class="number"><%=cur.good%><i class="icon-arrow-up"></i></div>
          					    <div class="title"><%=cur.title%></div>
          					    <div class="footer" style="background-color:#403a3b">
          						    <%= link_to " read full",cur_path%>
          					    </div>	
          				    </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
