<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @knowledge.course %>
</p>

<p>
  <strong>User:</strong>
  <%= @knowledge.user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @knowledge.type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @knowledge.content %>
</p>

<p>
  <strong>Good:</strong>
  <%= @knowledge.good %>
</p>

<p>
  <strong>Bad:</strong>
  <%= @knowledge.bad %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @knowledge.reply %>
</p>

<%= link_to 'Edit', edit_knowledge_path(@knowledge) %> |
<%= link_to 'Back', knowledges_path %>
