<!-- header here-->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to "山东大学资源聚合平台", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          
          <form class="navbar-form navbar-left">
        <div class="input-group">
          <div class="input-group-btn">
            <button id="search-dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">课程<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">课程</a></li>
              <li><a href="#">专栏</a></li>
              <li><a href="#">资源</a></li>
              <li><a href="#">用户</a></li>
            </ul>
          </div>
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">搜索</button>
          </span>
        </div>
      </form>
          
        </li>
        <li><%= link_to "首页", "#" %></li>
        <li><%= link_to "通知", "#" %></li>
        <% if log_in? %>
          <li><%= link_to "用户", "#" %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "个人空间", "#" %></li>
            <li><%= link_to "设置", "#" %></li>
            <li class="divider"></li>
            <li>
            <%= link_to "登出", logout_path%>
            </li>
          </ul>
          </li>
        <% else %>
          <li><%= link_to "登录", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
