
		<!-- start: Header -->
	<div class="navbar nav-fix-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="<%= home_path %>"><span>山东大学学习资源聚合平台</span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						
						<%unless log_in?%>
						<!-- start: Login Dropdown -->
							<li class="dropdown">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="<%= login_path %>">
									<i class="halflings-icon white user"></i> 登录
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="<%= login_path%>"><i class="halflings-icon user"></i> 登录</a></li>
									<li><a href="<%= reg_path%>"><i class="halflings-icon off"></i> 注册</a></li>
								</ul>
							</li>
						<!-- end: Login Dropdown -->
						<%else%>
						<% 
							new_count = @uncheck_notifications
							notifications = @latest_notifications
						%>
						
						<!-- start notifications dropdown -->
							<li class="dropdown hidden-phone">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="icon-bell"></i>
									<%if new_count>0%>
										<span class="badge red"><%=new_count%> </span>
									<%end%>
								</a>
								<ul class="dropdown-menu notifications">
									<li class="dropdown-menu-title">
	 									<span><%="你有#{new_count}条新消息"%></span>
										<a href="#refresh"><i class="icon-repeat"></i></a>
									</li>
										<% notifications.each do |notification| %>
                    	<li>
                        <a href="#">
												
												<span class="message"><%= notification.to_text %></span>
												<span class="time"><%= time_to_chinese(time_ago_in_words(notification.created_at)) %>前</span> 
                        </a>
                      </li>
	                  <% end %>
		
	                  <li class="dropdown-menu-sub-footer">
	              		<%= link_to "查看全部消息", user_notifications_path(current_user)%>
									</li>	
								</ul>
							</li>
							<!-- start: User Dropdown -->
							<li class="dropdown">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="<%= user_path(current_user)%>">
									<i class="halflings-icon white user"></i> <%= current_user.nickname%>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li class="dropdown-menu-title">
	 									<span>用户</span>
									</li>
									<li><a href="<%= user_path(current_user)%>"><i class="halflings-icon user"></i> 个人空间</a></li>
									<li><a href="<%= logout_path%>"><i class="halflings-icon off"></i> 登出</a></li>
								</ul>
							</li>
						<!-- end: User Dropdown -->
						<%end%>
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->